@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h2 {
  @apply text-4xl font-bold text-center mt-1 mb-8 text-mainaccent-700 dark:text-cyan-200
}

h1 {
  @apply text-4xl lg:text-5xl font-bold mt-4 
}
h3 {
  @apply text-2xl font-semibold text-center lg:text-left mt-1 mb-5 
}

p {
  @apply text-sm text-justify md:text-base mt-4 leading-6 md:leading-8 
}

.splitbg {
  background: linear-gradient(65deg, transparent 50%, #179FB7 50%)
}
@media (max-width: 1023px) {
  .splitbg {
    background: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.skills-block>div:hover svg {
  @apply fill-mainaccent-700 transition-colors ease-in-out duration-100
}
.skills-block>div:hover p {
  @apply text-mainaccent-700 transition-colors ease-in-out duration-300
}

.primary-btn {
  @apply bg-gray-600 border-2 border-gray-600 text-white rounded-sm p-3 font-light w-32 text-center hover:bg-mainaccent-700 hover:border-mainaccent-700 transition-colors ease-in-out duration-300
}

.secondary-btn {
  @apply border-2 border-gray-500 text-black rounded-sm p-3 font-light w-32 text-center  hover:text-mainaccent-700 hover:border-mainaccent-700 dark:text-gray-300 dark:border-gray-400 transition-colors ease-in-out duration-300
}
